<div class="main-container">
  <div class="content-container">
    <mat-card class="main-card-container">
      <mat-card-content>
        <table>
          <tr>
            <td>
              <img class="profile-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Profile">
            </td>
            <td style="padding-left: 20px;" class="main-card-text">
              <div>
                <p><strong>Full Name:</strong> Armando Mendoza</p>
                <p><strong>Email:</strong> u202119276&#64;upc.edu.pe</p>
                <p><strong>Institution:</strong> Universidad Peruana de Ciencias Aplicadas</p>
                <p><strong>Area:</strong> Security</p>
                <p><strong>Location:</strong> Monterrico Campus</p>
              </div>
            </td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/UPC_logo_transparente.png" class="institution-logo" alt="UPC Logo">
    </div>
  </div>
</div>