<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Inicio de Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Ingresa tu usuario" required>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'">
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Mostrar/ocultar contraseña'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <button routerLink="/home" mat-raised-button color="primary" class="btn full-width">Iniciar Sesión</button>
      </form>
      <div class="register-link">
        <p>¿No tienes cuenta? <a href="/register">Regístrate aquí</a></p>
      </div>
    </mat-card-content>
  </mat-card>
  <img src="./assets/images/login_banner.png" alt="Login Image">
</div>
